body { margin:0}


div.header {
    text-align: center;
    background-image: url("images\\header.jpg");
    padding: 20px 0;
    height: 100%;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    margin-top: 0;
    margin-bottom: 0;
}

    div.header p {
        font-weight: lighter;
        color: aliceblue;
        font-size: 80px;
    }

.fa {
    padding: 18px;
    font-size: 26px !important;
    width: 26px;
    text-decoration: none;
    margin: 5px 5px;
    border-radius: 50%;
}

.fa:hover {
    opacity: 0.9;
}


.fa-facebook {
    background: #3B5998;
    color: white;
}

.fa-twitter {
    background: #55ACEE;
    color: white;
}

.fa-instagram {
    background: #125688;
    color: white;
}

.fa-envelope {
    background: #bb0000;
    color: white;
}

div.section {
    display: block;
    color: white;
    text-align: center;
    padding: 14px 0;
    margin: 0;
    width: 25%;
    background-color: #444;
    margin-top: 0;
}

    div.section:hover:not(.active) {
        background-color: #111;
        cursor: pointer;
    }

    div.section.active {
        background-color: rgb(95, 158, 160);
        cursor: pointer;
    }

div.content {
    display: none;
    margin: 0;
    -webkit-animation: fadeEffect 1s;
    animation: fadeEffect 1s;
    padding: 0 25%;
    width: 50%;
}


div.content p{
    font-size: 18px;
    line-height: 1.5;
    color: #535353;
}

#Photo {
    padding: 0 5%;
    width: 90%;
    margin: 2% 0 !important;
}

.demo {
    margin: 2% !important;
    padding: 2%;
    background: white;
    border: 1px solid #d6d6d6;
    width: 25% !important;
    height: 100%;
    transition: 0.3s;
}

.demo:hover {
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

img.photo {  
    cursor: pointer;
    width: 100%;
    height: 100%;
    border: 1px solid #707070;
}

.modal {
    margin: 0 !important;
    height: 100%;
    background-color: #191919;
    padding-bottom: 5%;
}

.modal-slide {
    margin: 0 !important;
    text-align: center;
    padding-bottom: 2%;
}

.modal-slide img {
    height: 100%;
    width: 100%;
}

.numbertext {
    color: #f2f2f2;
    font-size: 20px;
    padding: 0 0 20px 0;
}

.loading {
    display: none;
    margin: 200px 45%;
    border: 12px solid #c9c9c9;
    border-radius: 50%;
    border-top: 12px solid #5f9ea0;
    width: 50px;
    height: 50px;
    -webkit-animation: spin 2s linear infinite;
    animation: spin 2s linear infinite;
}

@keyframes spin {
    0% { transform: rotate(0deg); }
    100% { transform: rotate(360deg); }
}

.comm {
    text-align: left;
    background-color: #eeeeee;
    border: 2px solid #cccccc;
    padding: 5px;
}

.date {
    color: #999999;
}

div.close {
    text-align: right;
    margin: 0;
}

span.close {
    color: white;
    font-size: 45px;
    font-weight: bold;
    padding-right: 5%;
}

span.close:hover,
span.close:focus {
    color: #999;
    text-decoration: none;
    cursor: pointer;
}

a.prev,
a.next {
    cursor: pointer;
    width: auto;
    padding: 16px;
    color: white;
    font-weight: bold;
    font-size: 30px;
    transition: 0.6s ease;
    -webkit-user-select: none;
}

div.prev,
div.next{
    margin-top: 25%;
    margin-left: 0;
}

div.prev {
    text-align: right;
}

.prev:hover,
.next:hover {
    color: #999;
}

.buttondiv {
    margin: 0 16% !important;
    width: 16% !important;
}

.button {
    border-radius: 5px;
    background-color: #e7e7e7;
    background-color: rgba(231, 231, 231, 0.6);
    border: 1px solid white;
    color: white;
    text-align: center;
    font-size: 14px;
    width: 100%;
    transition: all 0.5s;
    cursor: pointer;
    padding: 10px;
}


.button span {
    cursor: pointer;
    display: inline-block;
    position: relative;
    transition: 0.5s;
}

.button span:after {
    content: '\00bb';
    position: absolute;
    opacity: 0;
    top: 0;
    right: -20px;
    transition: 0.5s;
}

.button:hover span {
    padding-right: 5px;
}

.button:hover span:after {
    opacity: 1;
    right: 0;
}

.counter {
    text-align: center;
    margin-left: 0 !important;
}

.counter img {
    width: 88px;
    height: 31px;
}

.counter p {
    color: #c9c9c9;
}

.comment input[type=text], select {
    width: 100%;
    padding: 12px 20px;
    margin: 8px 0;
    display: inline-block;
    border: 1px solid #ccc;
    border-radius: 4px;
    box-sizing: border-box;
}

.comment input[type=submit] {
    width: 100%;
    background-color: rgb(95, 158, 160);
    color: white;
    padding: 14px 20px;
    margin: 8px 0;
    border: none;
    border-radius: 4px;
    cursor: pointer;
}

    input[type=submit]:hover {
        background-color: rgb(65, 128, 130);
    }

div.comment {
    width: 50% !important;
    margin: 5% 25% !important;
    display: none;
    padding: 2%;
    text-align: center;
    border-radius: 5px;
    background-color: #f2f2f2;
}

.comment label {
    float: none
}

#Attraction {
    display: block;
}

#Slides {
    display: none;
}

.all {
    clear: both;
    padding: 0;
    margin: 0;
    background-color: #f9f9f9;
}

.col {
    display: block;
    float: left;
    margin: 2% 0 2% 2%;
}

    .col:first-child {
        margin-left: 0;
    }

.group:before,
.group:after {
    content: "";
    display: table;
}

.group:after {
    clear: both;
}

.span_12_of_12 {
    width: 100%;
}

.span_11_of_12 {
    width: 91.5%;
}

.span_10_of_12 {
    width: 83%;
}

.span_9_of_12 {
    width: 74.5%;
}

.span_8_of_12 {
    width: 66%;
}

.span_7_of_12 {
    width: 57.5%;
}

.span_6_of_12 {
    width: 49%;
}

.span_5_of_12 {
    width: 40.5%;
}

.span_4_of_12 {
    width: 32%;
}

.span_3_of_12 {
    width: 23.5%;
}

.span_2_of_12 {
    width: 15%;
}

.span_1_of_12 {
    width: 6.5%;
}


@media screen and (max-width: 650px) {

    div.header {
        padding: 10px 0; 
    }

        div.header p {
            font-size: 60px;
        }

    div.content {
        padding: 0 5%;
        width: 90%;
    }

    .col {
        margin: 1% 0 1% 0;
    }

    .span_1_of_12, .span_2_of_12, .span_3_of_12, .span_4_of_12, .span_5_of_12, .span_6_of_12, .span_7_of_12, .span_8_of_12, .span_9_of_12, .span_10_of_12, .span_11_of_12, .span_12_of_12 {
        width: 100%;
    }

    div.section {
        width: 100%;
    }

    .demo {
        width: 90% !important;
    }

    div.prev,
    div.next {
        width: 15%;
    }

    .modal-slide {
        width: 66%;
    }

    .modal-slide img {
        width: 100%;
    }

    .buttondiv {
        margin: 0 35% !important;
        width: 30% !important;
    }

    .button {
        font-size: 12px;
    }

    .loading {
        margin: 100px 45%;
        border: 10px solid #c9c9c9;
        border-top: 10px solid #5f9ea0;
        width: 30px;
        height: 30px;
    }
}

@media screen and (max-width: 400px) {
    div.header {
        padding: 10px 0;
    }

        div.header p {
            font-size: 40px;
        }

        div.header a.fa {
            padding: 10px;
            font-size: 20px !important;
            width: 20px;
            margin: 3px 3px;
        }


    div.content {
        padding: 0 1%;
        width: 98%;
    }
        div.content p {
            font-size: 14px;
            line-height: 1.2;
            color: #444444;
        }


    .loading {
        margin: 80px 45%;
        width: 20px;
        height: 20px;
    }

    span.close {
        font-size: 25px;
    }
    a.prev,
    a.next {
        font-size: 17px;
    }

    .buttondiv {
        margin: 0 25% !important;
        width: 50% !important;
        float: none !important;
    }

    .button {
        padding: 5px;
    }
}
